html {
	font-size: 125%;
	width: 100%;
	height: 100%;
}

body {
    overflow: hidden;
    background: #1b2027;
    width: 100%;
	height: 100%;
}

*{
	margin:0;
	padding:0;
	border:0;
}
.nav{
	/*background: red;*/
	width: 6rem;
	height: 32rem;
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
	transform: translate(0,-50%);
}

.array{
	/*background: #394453;*/
	width: 100rem;
	height: 2rem;
	margin-top: 1rem;
	line-height: 3rem;
	margin-bottom:2rem;
}

.array input[type="text"]{
	width: 10rem;
	height: 2rem;
	font-size: 1rem;
}

.array input[type="button"]{
	width: 3rem;
	height: 2rem;
	font-size: 1rem;
}

.sort{
	background: #394453;
	width: 100%;
	height:3rem;
	margin-top: 1rem;
	font-family: "Microsoft Yahei";
	line-height: 3rem;
	text-align:center;
	color: #fff;
	cursor: pointer;

}

/*#animate1{
	background: red;
	width: 50rem;
	height: 30rem;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	
}*/
#container1 {
	/*background: red;*/
	display: inline-block;
    position: absolute;
	top: 2rem;
	left: 50%;
	height: 35%;

	width: 2rem;
	-webkit-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	-o-transform: translate(-50%,0);
	transform: translate(-50%,0);
    /*background: black;*/
}

#container1 div ,
#container3 div,
#container4 div{
    height: 0;
    background: #4786b2;
    position: absolute;
    bottom: 0;
    text-align: center;
}

#container1 div span,
#container3 div span,
#container4 div span{

    /*text-align: center;*/
	position:absolute;
	bottom:-2rem;
	color: #325c79;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);

}


#container2 {
	/*background: red;*/
    position: absolute;
	top: 0.5rem;
	left: 50%;
	height: 90%;

	width: 20rem;
	-webkit-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	-o-transform: translate(-50%,0);
	transform: translate(-50%,0);
    /*background: black;*/
}

#container3 {
	/*background: blue;*/
	display: inline-block;
    position: absolute;
	top: 0rem;
	left: 50%;
	height: 20%;

	width: 2rem;
	-webkit-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	-o-transform: translate(-50%,0);
	transform: translate(-50%,0);

}

#container4 {
	/*background: blue;*/
	display: inline-block;
    position: absolute;
	top: 50%;
	left: 50%;
	height: 20%;

	width: 2rem;
	-webkit-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	-o-transform: translate(-50%,0);
	transform: translate(-50%,0);

}

.sortActive{
	border:2px solid #fec675;
	border-left: 0;
}