html {
	font-size: 125%;
}

body {
    overflow: hidden;
    background: #1b2027;
}

#animate1{
	/*background: red;*/
	width: 50rem;
	height: 30rem;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	
}
#container1 {
	display: inline-block;
    position: absolute;
	top: 40%;
	left: 50%;
	height: 20rem;

	width: 2rem;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
    /*background: black;*/
}

#container1 div {
    height: 0;
    background: #4786b2;
    position: absolute;
    bottom: 0;
    transition: left 1s linear,height 2s linear;
}

